:root {
  --green1: #124177;
  --green2: #38a55c;
  --green3: #ffffff;
  --green4: #a5c79e;
  --green5: #9fff86;
  --green6: #ffffff !important;
  /*--green3rgb: rgb(56, 163, 165); */
}

body {
  box-sizing: border-box;
  background-color: var(--green5);
  color: var(--green6);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;

}

section {
  width: 515px;
}

#clear-button {
  margin: 0 0 1rem 0;
  background-color: var(--green1);
  color: var(--green6);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
}

#grid-number-button {
  margin: 0 0 1rem 0;
  background-color: var(--green1);
  color: var(--green6);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
}

#default-button {
  margin: 0;
  background-color: var(--green1);
  color: var(--green6);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
}

#colored-button {
  margin: 0;
  background-color: var(--green1);
  color: var(--green6);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
}

#clear-button:hover,
#grid-number-button:hover,
#default-button:hover,
#colored-button:hover,
.git-svg:hover{
  opacity: 0.9;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(16, auto);
  overflow: hidden;
  border: 10px solid var(--green1);
  box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(34, 87, 122,0.75);
}

.square {
  background-color: var(--green3);
  min-height: 1px;
  min-width: 1px;
  border: 1px solid var(--green1);
}

.square-active {
  background-color: var(--green2) !important;
}

.types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 0 1rem 0;
}

.git-svg {
  align-self: center;
  height: 32px;
  width: 32px;
  color: var(--green1);
  cursor: pointer;
}